.root {
  appearance: none;
  border: none;
  color: white;
  padding: 0.5em;
  font-size: 1em;
}

.primary {
  background-color: blue;
}

.secondary {
  background-color: grey;
}

.positive {
  background-color: green;
}

.negative {
  background-color: red;
}

.isDisabled {
  opacity: 0.4;
}
