{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@styleguide": "./apparatus",
          "@components": "./components",
          "@components/container": "./components/container",
          "@components/display": "./components/display",
          "@lib": "./lib",
          "@page": "./pages/index.js",
          "@static": "./static"
        }
      }
    ]
  ]
}
