.root {
  padding: 2em;

  & > * > * {
    margin: 0 auto;
    max-width: 1280px;

    & + * {
      margin-top: 1em;
    }
  }

  em:not([class]) {
    font-style: italic;
  }

  h1:not([class]),
  h2:not([class]),
  h3:not([class]),
  h4:not([class]),
  h5:not([class]),
  h6:not([class]) {
    line-height: 1em;
    font-weight: bold;
  }

  h1:not([class]) { font-size: 2em; }
  h2:not([class]) { font-size: 1.8em; }
  h3:not([class]) { font-size: 1.5em; }
  h4:not([class]) { font-size: 1.25em; }
  h5:not([class]) { font-size: 1.1em; }
  h6:not([class]) { font-size: 1.0em; }

  ul:not([class]) { list-style: disc inside; }
  ol:not([class]) { list-style: decimal inside; }

  a:not([class]) {
    color: blue;

    &:focus,
    &:hover {
      background-color: blue;
      color: white;
    }

    &:focus {
      outline: none;
      box-shadow: blue 0 0 3px;
    }

  }
}
