.root {
  margin: 0 auto;
}

.extra-small {
  max-width: 20em;
}

.small {
  max-width: 32em;  /* +12 */
}

.medium {
  max-width: 45em;  /* +13 (+1) */
}

.large {
  max-width: 60em; /* +15 (+2) */
}

.extra-large {
  max-width: 78em; /* +18 (+3) */
}
