.list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.4em;
  letter-spacing: 0.05em;
}

.item {
  & + .item {
    margin-top: 0.6em;
  }
}

.link {
  text-decoration: none;
  color: blue;
}
